<h2>{{myHero.name}} Details</h2>

<h2>{{myHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{myHero.id}}</div>
<div><span>name: </span>{{myHero.name}}</div>
<label>name:
  <!--
    [(ngModel)] is Angular's two-way data binding syntax.
    It belongs to the optional FormsModule and you must opt-in to using it.
  -->
  <input [(ngModel)]="myHero.name" placeholder="name">
</label>



<h2>Heroes</h2>
<ul class="heroes">
  <!--
    1.The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.
    Don't forget the asterisk (*) in front of ngFor. It's a critical part of the syntax.
    
    2.Angular's event binding syntax => (click)=....
    The parentheses around click tell Angular to listen for the <li> element's click event.
    When the user clicks in the <li>, Angular executes the onSelect(hero) expression.
    
    3. [class.some-css-class]="some-condition"
    
  -->
  <!--<li *ngFor="let hero of heroes"
      [class.selected]="hero===selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>-->
  
  <!--
    Strip the <li> back to just its *ngFor, wrap the badge and name in an anchor element (<a>),
    and add a routerLink attribute to the anchor that is the same as in the dashboard template
  -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
  
</ul>

<!--
  1.Bind the HeroesComponent.selectedHero to the element's hero property like this
  2.[hero]="selectedHero" is an Angular property binding. => https://angular.io/guide/template-syntax#property-binding
  3.It's a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element, which maps to the hero property of the HeroDetailComponent.
-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
